<div class = "row">
  <h1>ToDo List</h1>
</div>

<!--Alert used if User has not tasks -->
<div class = "row">
  <% if no_tasks(@user) %>
    <div class="alert alert-info">
      <span> You currently do not have any Tasks in your ToDoList!</span>
    </div>
  <% end %> 
</div>

<!--Task Layouts-->
<div class = "row">
  <% @user.tasks.each do |task|%>
    
  <!--Structure of Tasks-->
    <div class = "to-do-tasks">
      
      <p><%= task.body %></p>
      <p class = "item-status"><strong>Status: <%= task.status %></strong></p>
      <div class = "task-buttons">
        <!-- Link Used to change status -->
        <%= link_to change_status_task_path(task) do %>
          <button type="button" class="btn btn-info btn-sm">
            <span>
              <%= mark_as_helper(task.status) %>
            </span>
          </button>
        <% end %>
        
        <% unless task.is_complete %>
          <!--Link to Edit the ToDo's body -->
          <%= link_to edit_task_path(task) do %>
            <button type="button" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-pencil"></span>
              </button>
          <% end %>
        <% end %>
          
        <!--Link to Delete the ToDo Item -->
        <%= link_to task, method: :delete, data: {confirm: 'Are you sure?'} do %>
          <button type="button" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"</span>
          </button>
        <% end %>
      </div>
    
    </div>
  <% end %>
</div>

<br>

<div class = "row">
  <%= link_to new_task_path do%>
    <button type = "button" class="btn btn-success">New Task</button>
  <% end %>
</div>