<div class = "row">
	<div class="jumbotron">
		<div class = "row">
			<div class = "col-md-6">
			<h2>Sign in</h2>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, autofocus: true %></div>
			  <br />
			  <div><%= f.label :password %><br />
			    <%= f.password_field :password, autocomplete: "off" %></div>
			  <br />
			  <% if devise_mapping.rememberable? -%>
			    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
			  <% end -%>

			  <div><%= f.submit "Sign in" %></div>
			<% end %>
			<br />
			<%= render "devise/shared/links" %>
			</div>
			<div class = "col-md-6">
				<h2>Manage Your Tasks!</h2>
					<ul class="list-group">
						<li class = "list-group-item list-group-item-success">Mark Tasks as Complete or Incomplete</li>
						<li class = "list-group-item list-group-item-warning">Edit Your Tasks</li>
						<li class = "list-group-item list-group-item-danger">Delete Your Tasks</li>
						<li class = "list-group-item ">Text In Your Tasks</li>
					</ul>
			</div>
		</div>
	</div>
</div>