<!DOCTYPE html>
<html>
<head>
  <title>ToDoList</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class ="container">
	
	<div class = "row">
		<ul class = "nav nav-pills">
			<li><%= link_to "ToDoList", tasks_path %></li>
			<li><%= link_to "My Profile", edit_user_registration_path %></li>
			<li><%= link_to "Link 2", "#" %></li>
			<li>
				<% if user_signed_in? %>
					<%= link_to "Logout", destroy_user_session_path, :method=>:delete %>
					<% else %>
						<%= link_to "Sign In", user_session_path %>
					<% end %>
			</li>
		</ul>
	</div>

	<%= yield %>
	

</div>
</body>
</html>
